<a href={{url}} class="forum-item">
  <img class="catagory-picture" src={{gameIcon}}>
  <h2 class="catagory-title">{{gameTitle}}</h2>
  <h3 class="catagory-description">{{catagoryDescription}}</h3>
</a>
