<div class="forum-item">
  <h2 class="thread-subject">{{commentSubject}}</h2>
  <h3 class="thread-author">{{commentAuthor}}</h3>
  <h3 class="thread-text">{{commentContent}}</h3>
  <div class="filler"></div>
</div>
