<div class="forum-item">
  <h2 class="thread-subject">{{shortSubject}}</h2>
  <h3 class="thread-author">{{shortAuthor}}</h3>
  <h3 class="thread-text">{{shortContent}}</h3>
  <div class="filler"></div>
</div>
