<header>
  <div class="site-header">
    <a href="/" class="site-title-link">
      <img src="/img/stickfiguretitle.png">
      <h1 class="site-title">Stick Figure Gaming</h1>
    </a>
  </div>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink {{#if gamesPage}}active{{/if}}"><a href="/">Games</a><li>
      <li class="navitem navlink {{#if forumsPage}}active{{/if}}"><a href="/forums">Forums</a><li>
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><img src="/img/searchicon.png"></button>
      </li>
    </ul>
  </nav>
</header>
