<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Stick Figure Gaming</title>

    <link rel="stylesheet" href="/style.css" media="screen">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
    <script src="/newPostTemplate.js"></script>
    <script src="/collapsedThreadTemplate.js"></script>
    <script src="/commentTemplate.js"></script>
    <script src="/index.js" charset="utf-8" defer></script>

  </head>

  {{{body}}}

</html>
