<body>

  {{>header}}

  <main class="forum-holder">
    <h1 class="forum-label">Forums</h1>
  {{#if forumCatagories}}
      <div class="forum-item-holder">
        {{#each games}}
          {{>catagory}}
        {{/each}}
      </div>
  {{/if}}

  {{#if forumThreads}}
    <a class="catagory-label-link" href={{catagory}}><h1 class="catagory-label">{{catagoryLabel}}threads</h1></a>
    <button class="new-thread-button button" type="button" id="threadButton"><h1 class="new-thread-plus">+</h1>New Thread</button>

    <div class="forum-item-holder">
      {{#each threads}}
        {{>collapsedThread}}
      {{/each}}
    </div>
  {{/if}}

  {{#if individualThread}}
    <a class="catagory-label-link" href="/forums/Stick-Figure-Clicker"><h1 class="catagory-label">Stick Figure Clicker! threads</h1></a>
    <div class="forum-item-holder">
      {{>thread threadObject}}

      {{#each comments}}
        {{>comment}}
      {{/each}}
    </div>
  {{/if}}

  </main>

</body>
