<body>

  {{>header}}

  <main class="forum-holder">
    <h1 class="forum-label">Forums</h1>
  {{#if forumCatagories}}
      <div class="forum-item-holder">
        <a href="/forums/General-Discussion" class="forum-item">
          <img class="catagory-picture" src="/img/stickfiguretitle.png">
          <h2 class="catagory-title">General Discussion</h2>
          <h3 class="catagory-description">A place to talk about whatever (Within reason!).</h3>
        </a>

        <a href="/forums/Stick-Figure-Clicker" class="forum-item">
          <img class="catagory-picture" src="/img/stickfiguretitle.png">
          <h2 class="catagory-title">Stick Figure Clicker!</h2>
          <h3 class="catagory-description">Discussion about the Stick Figure Clicker! game.</h3>
        </a>
      </div>
  {{/if}}

  {{#if forumThreads}}
    <h1 class="catagory-label">Stick Figure Clicker! threads</h1>

    <div class="forum-item-holder">
      <a href="/forums/Stick-Figure-Clicker/123-this-is-a-thread" class="forum-item">
        <h2 class="thread-subject">This is a thread</h2>
        <h3 class="thread-author">By Author</h3>
        <h3 class="thread-comments">1 comments</h3>
        <h3 class="thread-views">5 views</h3>
      </a>

      <a href="/forums/Stick-Figure-Clicker/925-this-is-also-a-thread" class="forum-item">
        <h2 class="thread-subject">This is also a thread</h2>
        <h3 class="thread-author">By Some Person</h3>
        <h3 class="thread-comments">0 comments</h3>
        <h3 class="thread-views">1 views</h3>
      </a>
    </div>

  {{/if}}

  {{#if individualThread}}
    <h1 class="catagory-label">Stick Figure Clicker! threads</h1>
    <div class="forum-item-holder">
      <div class="forum-item">
        <h2 class="thread-subject">This is also a thread</h2>
        <h3 class="thread-author">By Some Person</h3>
        <h3 class="thread-comments">0 comments</h3>
        <h3 class="thread-views">1 views</h3>
        <h3 class="thread-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet pretium mauris. Cras dapibus, ex quis ornare congue, massa metus interdum tortor, non mollis odio odio a libero. Vivamus volutpat tortor leo, nec congue diam dictum id. Ut vulputate, lacus vel dignissim gravida, dui felis suscipit dui, sed vehicula purus massa vitae sem. Nam at accumsan nunc, a egestas dolor. Donec gravida scelerisque pulvinar. Donec molestie, urna nec imperdiet faucibus, leo elit posuere ligula, sed venenatis velit nulla aliquet dui. Nulla sed volutpat ipsum. Duis vulputate feugiat varius. Suspendisse ipsum nulla, auctor vitae nunc vel, malesuada interdum risus. Sed quis mollis massa. Nulla a pretium mi, ac scelerisque quam.
        </h3>
        <button type="button" class="reply-button"><img class="reply-button-img" src="/img/replybutton.png">Reply</button>
      </div>
    </div>
  {{/if}}

  </main>

</body>
