<body>

  {{>header}}

  <main class="forum-holder">
    <h1 class="forum-label">Forums</h1>
    <div class="catagories-holder">
      <div class="catagory-box">
        <img class="catagory-picture" src="/img/stickfiguretitle.png">
        <h2 class="catagory-title">General Discussion</h2>
        <h3 class="catagory-description">A place to talk about whatever (Within reason!).</h3>
      </div>

      <div class="catagory-box">
        <img class="catagory-picture" src="/img/stickfiguretitle.png">
        <h2 class="catagory-title">Stick Figure Clicker!</h2>
        <h3 class="catagory-description">Discussion about the Stick Figure Clicker! game.</h3>
      </div>
    </div>
  </main>

</body>
