<body>

  {{>header}}

  {{#if forumCatagories}}
    <main class="forum-holder">
      <h1 class="forum-label">Forums</h1>
      <div class="catagories-holder">
        <a href="/forums/General%20Discussion" class="catagory-box">
          <img class="catagory-picture" src="/img/stickfiguretitle.png">
          <h2 class="catagory-title">General Discussion</h2>
          <h3 class="catagory-description">A place to talk about whatever (Within reason!).</h3>
        </a>

        <a href="/forums/Stick%20Figure%20Clicker" class="catagory-box">
          <img class="catagory-picture" src="/img/stickfiguretitle.png">
          <h2 class="catagory-title">Stick Figure Clicker!</h2>
          <h3 class="catagory-description">Discussion about the Stick Figure Clicker! game.</h3>
        </a>
      </div>
    </main>
  {{/if}}

  {{#if forumThreads}}
    
  {{/if}}

  {{#if individualThread}}

  {{/if}}

</body>
