/*site wide styling*/
body
{
  font-family: Arial;
}


/*title background*/
header > .site-header
{
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  height: 100px;
  width: 100%;
  background-color: Grey;
}

.site-header > a
{
  position: inherit;
  width: 800px;

}

.site-title
{
  position: inherit;
  top: 17px;
  left: 70px;
  margin: 0px;
  color: black;
  font-size: 60px;
  font-weight: 100;
}

.site-title-link > img
{
  position: inherit;
  top: 15px;
  left: 20px;
}

nav
{
  position: absolute;
  top: 100px;
  left: 0px;
  margin: 0px;
  height: 45px;
  width: 100%;
  background-color: lightgrey;
}

/*list of nav items styling*/
.navlist
{
  position: absolute;
  left: 10px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  list-style-type: none;
}

/*navlink styling*/
.navlink > a
{
  top: 10px;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 5px;
  padding: 5px;
  text-decoration: none;
  color: black;
  float: left;
}

.navlink > a:hover
{
  color: darkgrey;
}

.active > a
{
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: darkgrey;
}

.navbar-search
{
  float: right;
  padding-right: 20px;
}

#navbar-search-input
{
  margin-top: 11.5px;
  height: 20px;
  background-color: WhiteSmoke;
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
  border-radius: 3px;
}

#navbar-search-input:focus
{
  background-color: white;
  outline: none;
}

#navbar-search-button
{
  position: relative;
  background-color: lightgrey;
  border-style: hidden;
  top: 5px;
  padding-left: 0px;
}

#navbar-search-button:hover
{
  color: DodgerBlue;
  cursor: pointer;
}

.hidden
{
  display: none;
}

.error-container {
  margin-top: 150px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}

.forum-holder
{
  position: absolute;
  padding: 0px;
  top: 145px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.forum-label
{
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  color: black;
}

.forum-item-holder
{
  position: absolute;
  padding: 0px
  top: 175px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.forum-item
{
  position: relative;
  flex: 1 100px;
  width: 75%;
  margin: 5px;
  border-style: solid;
  border-width: thick;
  border-color: darkgrey;
  border-radius: 20px;
  background-color: WhiteSmoke;
}

.catagory-picture
{
  position: absolute;
  top: 20px;
  left: 20px;
  height: 50px;
  width: 50px;
}

.catagory-title
{
  position: absolute;
  top: 0px;
  left: 100px;
  font-size: 24px;
  color: black;
}

.catagory-description
{
  position: absolute;
  top: 40px;
  left: 100px;
  font-size: 16px;
  color: grey;
}

.catagory-label
{
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: black;
}

.new-thread-button
{
  position: absolute;
  top: 120px;
  right: 245px;
  padding: 15px;
  padding-left: 50px;
  border-style: ridge;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: WhiteSmoke;
}

.button:focus
{
  outline: none;
}

.button:active
{
  border-style: inset;
}

.new-thread-plus
{
  position: absolute;
  top: -35px;
  left: 10px;
  font-size: 50px;
  font-weight: 200;
}

.thread-subject
{
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 24px;
  color: black;
}

.thread-author
{
  position: absolute;
  top: 40px;
  left: 20px;
  font-size: 16px;
  color: grey;
}

.thread-comments
{
  position: absolute;
  float: right;
  right: 10px;
  color: darkgrey;
}

.thread-views
{
  position: absolute;
  float: right;
  top: 30px;
  right: 10px;
  color: darkgrey;
}

.thread-text
{
  position: relative;
  top: 60px;
  left: 200px;
  width: 75%;
  padding-bottom: 40px;
  font-size: 18px;
}

.reply-button
{
  position: relative;
  float: right;
  right: 20px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-style:ridge;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: WhiteSmoke;
}

.reply-button-img
{
  position: inherit;
  top: 10px;
  height: 30px;
  width:45px;
}

.filler
{
  position: relative;
  height: 20px;
}

.author-label
{
  position: relative;
  top: 5px;
  left: 20px;
  font-size: 18px;
  color: black;
}

.author-input
{
  position: absolute;
  top: 15px;
  left: 110px;
  font-size: 18px;
}

.subject-label
{
  position: relative;
  top: 5px;
  left: 20px;
  font-size: 18px;
  color: black;
}

.subject-input
{
    position: absolute;
    top: 50px;
    left: 110px;
    font-size: 18px;
}

.post-input
{
  position: relative;
  left: 110px;
  font-size: 18px;
  height: 200px;
  width: 75%;
  margin-bottom: 60px;
}

.post-button
{
  position: absolute;
  top: 300px;
  right: 20px;
  padding: 10px;
  border-style:ridge;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: WhiteSmoke;
}

.cancel-button
{
  position: absolute;
  top: 300px;
  right: 140px;
  padding: 10px;
  border-style:ridge;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: WhiteSmoke;
}
